<!--objectには@userが入る-->
<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <!--pluralize(integer,string):数値が2以上の場合は文字列を複数形にする-->
      The form contains <%= pluralize(object.errors.count, "error") %>
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
